body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1072px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7269 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:147px;
  width:740px;
  height:248px;
}
#u7270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
}
#u7270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
}
#u7271 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u7272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:36px;
}
#u7272 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:0px;
  width:201px;
  height:36px;
}
#u7273 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:197px;
  word-wrap:break-word;
}
#u7274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:36px;
}
#u7274 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:0px;
  width:177px;
  height:36px;
}
#u7275 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:173px;
  word-wrap:break-word;
}
#u7276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:36px;
}
#u7276 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:0px;
  width:275px;
  height:36px;
}
#u7277 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:271px;
  word-wrap:break-word;
}
#u7278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
}
#u7278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:82px;
  height:36px;
}
#u7279 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u7280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:36px;
}
#u7280 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:36px;
  width:201px;
  height:36px;
}
#u7281 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:197px;
  word-wrap:break-word;
}
#u7282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:36px;
}
#u7282 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:36px;
  width:177px;
  height:36px;
}
#u7283 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:173px;
  word-wrap:break-word;
}
#u7284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:36px;
}
#u7284 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:36px;
  width:275px;
  height:36px;
}
#u7285 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:271px;
  word-wrap:break-word;
}
#u7286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
}
#u7286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:82px;
  height:36px;
}
#u7287 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u7288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:36px;
}
#u7288 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:72px;
  width:201px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u7289 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:197px;
  word-wrap:break-word;
}
#u7290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:36px;
}
#u7290 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:72px;
  width:177px;
  height:36px;
}
#u7291 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:173px;
  word-wrap:break-word;
}
#u7292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:36px;
}
#u7292 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:72px;
  width:275px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u7293 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:271px;
  word-wrap:break-word;
}
#u7294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:85px;
}
#u7294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:82px;
  height:85px;
}
#u7295 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:78px;
  word-wrap:break-word;
}
#u7296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:85px;
}
#u7296 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:108px;
  width:201px;
  height:85px;
  text-align:left;
}
#u7297 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:197px;
  word-wrap:break-word;
}
#u7298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:85px;
}
#u7298 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:108px;
  width:177px;
  height:85px;
}
#u7299 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:85px;
}
#u7300 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:108px;
  width:275px;
  height:85px;
}
#u7301 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:50px;
}
#u7302 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:193px;
  width:82px;
  height:50px;
}
#u7303 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:78px;
  word-wrap:break-word;
}
#u7304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:50px;
}
#u7304 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:193px;
  width:201px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:28px;
}
#u7305 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:197px;
  word-wrap:break-word;
}
#u7306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:50px;
}
#u7306 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:193px;
  width:177px;
  height:50px;
}
#u7307 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:50px;
}
#u7308 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:193px;
  width:275px;
  height:50px;
}
#u7309 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:271px;
  word-wrap:break-word;
}
#u7310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7310 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:42px;
  width:734px;
  height:66px;
  font-size:18px;
}
#u7311 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:730px;
  word-wrap:break-word;
}
#u7312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7312 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:108px;
  width:734px;
  height:39px;
  text-align:left;
}
#u7313 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:730px;
  word-wrap:break-word;
}
#u7314 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:256px;
  width:451px;
  height:42px;
}
#u7314_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:457px;
  height:48px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:47px;
}
#u7316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u7316 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u7317 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  word-wrap:break-word;
}
#u7318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u7318 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:0px;
  width:41px;
  height:42px;
}
#u7319 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  word-wrap:break-word;
}
#u7320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u7320 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:0px;
  width:41px;
  height:42px;
}
#u7321 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  word-wrap:break-word;
}
#u7322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u7322 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:0px;
  width:41px;
  height:42px;
}
#u7323 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  word-wrap:break-word;
}
#u7324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u7324 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:0px;
  width:41px;
  height:42px;
}
#u7325 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  word-wrap:break-word;
}
#u7326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u7326 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:0px;
  width:41px;
  height:42px;
}
#u7327 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  word-wrap:break-word;
}
#u7328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u7328 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:0px;
  width:41px;
  height:42px;
}
#u7329 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  word-wrap:break-word;
}
#u7330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u7330 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:0px;
  width:41px;
  height:42px;
}
#u7331 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  word-wrap:break-word;
}
#u7332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u7332 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:0px;
  width:41px;
  height:42px;
}
#u7333 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  word-wrap:break-word;
}
#u7334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u7334 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:0px;
  width:41px;
  height:42px;
}
#u7335 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  word-wrap:break-word;
}
#u7336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u7336 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:0px;
  width:41px;
  height:42px;
}
#u7337 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  word-wrap:break-word;
}
#u7338 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:298px;
  width:451px;
  height:42px;
}
#u7338_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:457px;
  height:48px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7339 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:47px;
}
#u7340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u7340 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u7341 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  word-wrap:break-word;
}
#u7342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u7342 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:0px;
  width:41px;
  height:42px;
}
#u7343 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  word-wrap:break-word;
}
#u7344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u7344 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:0px;
  width:41px;
  height:42px;
}
#u7345 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  word-wrap:break-word;
}
#u7346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u7346 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:0px;
  width:41px;
  height:42px;
}
#u7347 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  word-wrap:break-word;
}
#u7348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u7348 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:0px;
  width:41px;
  height:42px;
}
#u7349 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  word-wrap:break-word;
}
#u7350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u7350 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:0px;
  width:41px;
  height:42px;
}
#u7351 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  word-wrap:break-word;
}
#u7352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u7352 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:0px;
  width:41px;
  height:42px;
}
#u7353 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  word-wrap:break-word;
}
#u7354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u7354 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:0px;
  width:41px;
  height:42px;
}
#u7355 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  word-wrap:break-word;
}
#u7356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u7356 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:0px;
  width:41px;
  height:42px;
}
#u7357 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  word-wrap:break-word;
}
#u7358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u7358 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:0px;
  width:41px;
  height:42px;
}
#u7359 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  word-wrap:break-word;
}
#u7360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u7360 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:0px;
  width:41px;
  height:42px;
}
#u7361 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  word-wrap:break-word;
}
#u7362 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:340px;
  width:292px;
  height:50px;
}
#u7362_menu {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:298px;
  height:56px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:55px;
}
#u7364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:50px;
}
#u7364 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:50px;
}
#u7365 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:93px;
  word-wrap:break-word;
}
#u7366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:50px;
}
#u7366 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:0px;
  width:99px;
  height:50px;
}
#u7367 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:95px;
  word-wrap:break-word;
}
#u7368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:50px;
}
#u7368 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:0px;
  width:96px;
  height:50px;
}
#u7369 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:92px;
  word-wrap:break-word;
}
#u7370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:139px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7370 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:390px;
  width:735px;
  height:139px;
}
#u7371 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:731px;
  word-wrap:break-word;
}
#u7372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u7372 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:539px;
  width:100px;
  height:36px;
}
#u7373 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u7374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u7374 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:539px;
  width:100px;
  height:36px;
}
#u7375 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u7376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u7376 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:539px;
  width:73px;
  height:36px;
}
#u7377 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u7378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u7378 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:539px;
  width:100px;
  height:36px;
}
#u7379 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u7380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:151px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:left;
}
#u7380 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:128px;
  width:300px;
  height:151px;
  color:#FF0000;
  text-align:left;
}
#u7381 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
